<launch>
    <!-- Flag to start recoding a rosbag  -->
    <arg name="record" default="false"/>
    <!-- Initial position and heading of the vehicle (wrt Gazebo's inertial frame)  -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="yaw" default="0"/>

    <arg name="use_ned_frame" default="false"/>

    <!-- Initialize the Gazebo world  -->
    
    <!-- Start the PID controller with its default parameters for the Barbaros vehicle  -->
    <include file="$(find uuv_trajectory_control)/launch/rov_pid_controller.launch">
        <arg name="uuv_name" value="barbaros"/>
        <arg name="model_name" value="barbaros"/>
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>

</launch>
